[class^="col-"]{
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: }
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
  background-color: pink;
  padding: 5px;
  text-align: center;
  margin: 1px;
}
.menu{
  text-transform: uppercase;
  background-color: #4f6c9b;
  text-align: center;

}
.menu ul {
  padding: 5px;
  list-style: none;
}
.menu ul li {
  display: inline-block;
  margin: 10px;

}
.menu a{
  margin-right: 3px;
  text-decoration: none;
  color: white;
  padding: 5px;
}
.menu a:hover{
  color:black;
  background-color: white;
}
.content {
  background-color: violet;
  margin: 1px;
}
.aside {
  background-color: grey;
  margin: 1px;
}
.footer {
  background-color: pink;
  text-align: center;
}
